@import "~bootstrap/scss/bootstrap";

.App{
  display:flex;
  justify-content: space-around;
  text-align: center;
}

.App-header{
  display:flex;
  flex-direction: column;
  align-items:stretch;
  height: 300px;
  width: 400px;
}
