.cascading-right {
  margin-right: -50px;
}

.register-form {
  margin: auto;
  margin-left: -6em;
  margin-right: -6em;
}

@media (max-width: 991.98px) {
  .cascading-right {
    margin-right: 0;
  }
}

section {
  background-color: rgba(230, 226, 214, 255);
  height: 100vh;
}

.logo {
  display: flex;
  margin: auto;
  padding-top: 3em;
  padding-bottom: 2em;
}
