@import "~bootstrap/scss/bootstrap";

// .App{
//   display:flex;
//   justify-content: space-around;
//   text-align: center;
// }

// .App-header{
//   display:flex;
//   flex-direction: column;
//   align-items:stretch;
//   height: 300px;
//   width: 400px;
// }

main {
  background-color: #e6e2d6;
  text-align: center;
  height: 100vh;
}

.nav {
  height: 60px;
  width: 60vmin;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
  background-color: #fff;
  color: black;
  justify-content: space-around;

  img {
    width: 80vw;
    height: 10vh;
  }

  button {
    display: flex;
    justify-content: flex-end;
    border: red solid 2px;
  }
}

.ocr {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;

  .text-box {
    display: flex;
    align-items: center;
    text-align: center;
  }

  img {
    width: 30vw;
    height: 50vh;
  }

  .cam_buttons {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    .scan_clear {
      display: flex;
      justify-content: space-around;
      height: 40px;
    }
  }

  .user_ingredients {
    height: 100px;
  }

  .scanner {
    margin-top: 30px;

    .alert {
      display: flex;
      align-items: center;
    }
  }

  .navigation {
    display: flex;
    justify-content: space-around;
  }
}
