.user_ingredients {
  height: 50px;
  margin-top: 20px;

}

.cam_buttons {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .scan_edit {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height:40px;
    .edit{
      margin-top: 10px;
    }
    .scan{
      margin-top:10px;
    }
  }
}