@import "~bootstrap/scss/bootstrap";

main {
  background-color: #e6e2d6;
  text-align: center;
}

.nav {
  height: 60px;
  width: 60vmin;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
  background-color: #fff;
  color: black;
  justify-content: space-around;
  
  button {
    display: flex;
    justify-content: flex-end;
    border: red solid 2px;
  }
}

.ocr {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;

  .instructions{
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .text-box {
    display:flex;
    align-items: center;
    text-align:center;
  }

  img {
    width: 300px;
    height: 400px;
  }
 
}
