.full--content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.images--div {
  width: 40%;
  height: 40%;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pic1 {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.main--section {
  width: 60%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: -23em;
}

.container--card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
  margin-top: -12em;
}

.container--card h1 {
  font-size: 2em;
  margin-bottom: 1em;
}

.container--card p {
  font-size: 1.2em;
  margin-bottom: 2em;
}

.container--card select {
  padding: 0.5em;
  margin-bottom: 2em;
  font-size: 1.2em;
  border-radius: 10px;
  border: 1px solid #000;
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.card--contents--div {
  background-color: #fff;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card--title {
  font-size: 2em;
  margin-bottom: 1em;
}

.card--contents {
  font-size: 1.2em;
  margin-bottom: 2em;
  text-align: center;
}

.card--contents p {
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .container--card {
    width: 90%;
  }

  .card--contents--div {
    width: 90%;
  }
}
