.main--section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container--card {
  padding: 40px;
  border: 2px solid black;
  border-radius: 5em;
  height: 47em;
  width: 25em;
  margin-top: -1em;
}

.empty--card--img {
  object-fit: contain;
}

.result {
}

.card--title {
  margin-top: -35.5em;
}

.card--contents--div {
  border: 2px solid black;
  height: 30em;
  width: 15em;
  margin-left: 3.5em;
  margin-top: 2em;
}

.card--contents {
  object-fit: contain;
}
