<!-- .env and/or .env.example should look like this now -->
ENVIROMENT='dev'
PORT=8080
<!-- add these new variables below... -->
DB_HOST=localhost
DB_USER=labber
DB_PASSWORD=labber
DB_DATABASE=final
DB_PORT=5432